<?xml version="1.0" ?>
<model>
    <name>Adaptive Lidar</name>
    <version>1.0</version>
    <sdf version="1.4">model.sdf</sdf>

    <author>
        <name>Charuvahan Adhivarahan</name>
        <email>charuvah@buffalo.edu</email>
    </author>

    <description>
        Adaptive LiDAR simulation model
    </description>
</model>
